[workspace]
authors = ["Peter Polidoro <peter@polidoro.io>"]
channels = ["conda-forge"]
description = "Arduino library for communicating with the Reiser Lab Modular LED panels display arena."
name = "G4.1-ArenaController"
platforms = ["linux-64"]
version = "5.1.1"

[tasks]

[dependencies]
platformio = ">=6.1.16,<7"
