[workspace]
authors = ["Peter Polidoro <peter@polidoro.io>"]
channels = ["conda-forge"]
description = "Add a short description here"
name = "G4.1-ArenaController"
platforms = ["linux-64"]
version = "5.0.2"

[tasks]

[dependencies]
platformio = ">=6.1.16,<7"
